* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

body {
  margin: 80px 60px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  gap: 40px;
}

ul li {
  font-family: sans-serif;
  list-style: none;
  font-size: 1.3rem;
  font-weight: 400;
  color: rgb(24, 24, 24);
}

section {
  margin-top: 110px;
  width: 1600px;
  height: 100%;
}

.apresentacao{
  display: grid;
  grid-template-columns: 500px 1fr;
  align-items: center;
  gap: 120px;
}

.foto-perfil {
  height: 600px;
}

.titulo {
  position: relative;
}

.detalhe {
  position: absolute;
  z-index: -1;
  top: -15px;
  left: -30px;
}

.titulo h1 {
  font-size: 5rem;
}

.titulo p {
  color: rgb(71, 71, 71);
  font-size: 1.3rem;
  margin-top: 20px;
}

.titulo p::after {
  content: '🏝️';
  margin-left: 8px;
}

.experiencia {
  display: grid;
  grid-template-columns: 500px 1fr;
  gap: 120px;
}

.experiencia h1 {
  font-size: 8rem;
  text-transform: uppercase;
  color: rgb(214, 214, 214);
}

.exp > p {
  color: rgb(71, 71, 71);
  font-size: 1.5rem;
  max-width: 600px;
  margin-bottom: 40px;
  line-height: 2rem;
}

.projeto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px;

  max-width: 800px;
  padding: 20px;
  margin-top: 20px;

  background-color: rgb(235, 235, 235);
  border-radius: 4px;
}

.projeto::before {
  content: '2045';

}

.projeto p, span {
  display: inline-block;
  line-height: 1.2rem;
  padding-top: 8px;
}

.skills{
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  margin-top: 10px;
}

.skills span {
  background-color: rgb(255, 255, 255);
  padding: 4px 8px;
}







